@import '../../sass/mixins';

.planetOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  justify-content: center;
  justify-items: center;

  @include respond-to(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
}
