@use '../base' as base;
@import '../sass/mixins';

.planet {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0rem;

  // Mobile and Tablet share same styles for this component
  @include respond-to(tablet) {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  @include respond-to(laptop) {
    display: grid;
    grid-template-areas: 'image facts';
    grid-template-columns: 1fr auto;
    margin-top: 4rem;
  }

  @include respond-to(desktop) {
    display: grid;
    grid-template-areas: 'image facts';
    grid-template-columns: 1fr auto;
    height: 668px;
  }
}
