.mobileNavMenu {
    background-color: #070724;
    ;
}

.mobileNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.6rem 2.4rem;
    border-bottom: 1px solid #ffffff20;
    height: 7rem;
}

.menuButton {
    background-color: transparent;
    border: none;
}

.mobileNavList {
    display: flex;
    flex-direction: column;
    padding-left: 2.4rem;
    padding-right: 3.2rem;
    padding-top: 3rem;
}

.mobileNavListItem {
    list-style: none;
    padding: 2rem 0;
    align-items: center;
}

.mobileNavListItem:not(:last-child) {
    border-bottom: 1px solid #ffffff20;
}

.mobileNavLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}

.planet {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.name {
    color: #FFF;
    text-align: center;
    font-family: var(--font-spartan);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1.364px;
    text-transform: uppercase;
}

.arrow {
    width: 4px;
    height: 8px;
}