.tabWrapper {
    border-bottom: 1px solid #ffffff20;
    width: 100%;
}

.tab {
    border-bottom: 4px solid transparent;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 2rem 0
}

.tabName {
    color: #ffffff50;
}

.active .tabName {
    color: #ffffff;
}