.navBar {
    height: 8.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 3.2rem;
    padding-right: 4.1rem;
    border-bottom: 1px solid #ffffff20;
}

.navItems {
    display: inline-flex;
    gap: 1.7rem;
    height: inherit;
}

.navItem {
    color: #FFF;
    font-family: var(--font-spartan);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

/* RESPONSIVE */
/* Desktop */
@media screen and (min-width: 1280px) {
    .navItem {
        border-top: 4px solid transparent;
    }
}

/* Tablet */
@media screen and (max-width: 1279px) and (min-width: 912px) {
    .navBar {
        flex-direction: column;
        height: 159px;
        gap: 3.9rem;
        padding: 0 5.2rem;
        padding-top: 3.2rem;
        padding-bottom: 2.7rem;
    }

    .navItem {
        height: auto;
        border-bottom: 4px solid transparent;
    }
}