.statBox {
    width: 255px;
    height: 128px;
    border: 1px solid #FFFFFF20;
    padding-top: 2rem;
    padding-left: 2.3rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.statTitle {
    opacity: 0.5;
}

/* MEDIA QUERIES */
/* Tablet */
@media screen and (max-width: 1279px) and (min-width: 912px) {
    .statBox {
        /* width: 164px; */
        height: 88px;
        gap: 6px;
        padding-left: 1.5rem;
        padding-top: 1.6rem;
    }
}

/* Mobile */
@media screen and (max-width: 911px) {
    .statBox {
        height: 4.8rem;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        padding-top: 0;
    }
}