.statBox {
    width: 255px;
    height: 128px;
    border: 1px solid #FFFFFF20;
    padding-top: 2rem;
    padding-left: 2.3rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.statTitle {
    /* color: #FFF;
    font-family: Spartan, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    /* 227.273% */
    /* letter-spacing: 1px;
    text-transform: uppercase; */
    opacity: 0.5;
}