.planetImageWrapper {
    grid-area: image;
    position: relative;
}

.planetImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.surface {
    width: 163px;
    height: 199px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

/* MEDIA QUERIES */
/* Tablet */
@media screen and (max-width: 1279px) and (min-width: 912px) {
    .planetImageWrapper {
        height: 460px;
    }

    .surface {
        width: 120px;
        height: 148px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
    }
}

/* Mobile */
@media screen and (max-width: 911px) {
    .planetImageWrapper {
        height: 25.6rem;
        width: 100%;
        margin-top: 3rem;
    }

    .surface {
        width: 94px;
        height: 114px;
        bottom: -2rem;
    }
}