@use '../../../base.scss';

.mobileMenuItem {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0 2.4rem;

  &:not(&:last-child) {
    border-bottom: 1px solid #ffffff20;
  }
}

.mobileMenuItemLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
  text-decoration: none;
  width: 100%;
}

.planet {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.name {
  color: #fff;
  font-family: base.$fontSpartan;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.364px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}
