@import '../../sass/mixins';

.planetImageWrapper {
  align-items: center;
  display: flex;
  height: 320px;
  justify-content: center;
  position: relative;

  @include respond-to(tablet) {
    height: 460px;
  }

  @include respond-to(laptop) {
    grid-area: image;
    height: 100%;
    width: 100%;
  }
}

.surface {
  bottom: 2rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  @include surface-dimensions(100px);

  @include respond-to(tablet) {
    bottom: 2rem;
    @include surface-dimensions(148px);
  }

  @include respond-to(laptop) {
    @include surface-dimensions(176px);
  }

  @include respond-to(desktop) {
    bottom: 6rem;
    @include surface-dimensions(199px);
  }
}
