@import '../../sass/mixins';

.planetImageWrapper {
  align-items: center;
  display: flex;
  height: 320px;
  justify-content: center;
  position: relative;

  @include respond-to(tablet) {
    height: 460px;
  }

  @include respond-to(laptop) {
    grid-area: image;
    height: 100%;
    width: 100%;
  }
}
