@use '../../base' as base;
@import '../../sass/mixins';

.footer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  justify-content: space-between;
  margin-top: 7.6rem;

  @include respond-to(labptop) {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    justify-content: space-between;
    margin-top: 8.6rem;
  }

  @include respond-to(tablet) {
    gap: 3rem;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 0;
  }

  @include respond-to(mobile) {
    flex-direction: column;
    gap: 1rem;
    margin-top: 4.2rem;
    padding: 0 2.4rem;
    width: 100%;
  }
}
