/* https://www.joshwcomeau.com/css/custom-css-reset/ */

@import url('https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap');

:root {
  /* Font Family */
  --font-antonio: 'Antonio',
    sans-serif;
  --font-spartan: 'League Spartan',
    sans-serif;
}

.body {
  font-family: var(--font-spartan);
  font-size: 1.4rem;
  /* 14px */
  font-weight: 400;
  line-height: 25px;
  font-style: normal;
}

.headingOne {
  font-family: var(--font-antonio);
  font-size: 8rem;
  /* 80px */
  font-weight: 400;
  line-height: 103px;
  text-transform: uppercase;
}

.heading-two {
  font-family: var(--font-antonio);
  font-size: 4rem;
  /* 40px */
  font-weight: 400;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

.heading-three {
  font-family: var(--font-spartan);
  font-size: 1.2rem;
  /* 12px */
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

.heading-four {
  font-family: var(--font-spartan);
  font-size: 1.1rem;
  /* 11px */
  font-weight: 700;
  list-style: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button-text {
  font-family: var(--font-spartan);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.571px;
  text-transform: uppercase;
}

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin & Padding */
* {
  margin: 0;
  padding: 0;
}

/* Allow %-based height (#__ root level element for React framework */
/* 100vh doesn't work properly on browsers. So allowing %-based height is currently more ideal for mobile styling */
html,
body,
#__next {
  height: 100%;
  background-color: #070724;
  color: white;
}

/* Typography */
html {
  font-size: 62.5%;
}

/* WCAG recommends line-height of at least 1.5 on body text. Reduce for large headings, though */
/* Turn off subpixel antialiasing on Chrome and Safari browsers for Mac to create smoother text */
body {
  font-family: var(--font-body), sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Remove user-agent typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}