@import '../../sass/mixins';

.summary {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;

  @include respond-to(tablet) {
    align-items: flex-start;
    min-height: 300px;
    padding: 0;
    width: 100%;
  }
}

.namePlanetInfoWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @include respond-to(tablet) {
    align-items: flex-start;
  }
}

.planetInfo {
  height: fit-content;
  text-align: center;

  @include respond-to(tablet) {
    text-align: left;
  }
}
