@import '../../sass/mixins';

.planetFacts {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: auto;
  width: 100%;

  @include respond-to(tablet) {
    align-items: center;
    display: grid;
    gap: 8rem;
    grid-area: facts;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 3rem;
    width: auto;
  }

  @include respond-to(laptop) {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
    margin-top: 4.4rem;
    width: 400px;
  }

  @include respond-to(desktop) {
    gap: 2rem;
    width: 440px;
  }
}
