@import '../../sass/mixins';

.summary {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0;
  width: 100%;
}

.planetInfo {
  height: 150px;
}

.sourceAndTabsWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}
