.tabWrapper {
  border-bottom: 1px solid #ffffff20;
  width: 100%;
}

.tab {
  border-bottom: 4px solid transparent;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  text-decoration: none;
}

.tabName {
  color: #ffffff50;
}

.active .tabName {
  color: #ffffff;
}
